
{% macro CharField(class, id, name, value, placeholder='', maxlength='100', required='') %}
<input type="text" class="{{ class|escape }}" id="{{ id|escape }}" name="{{ name|escape }}" value="{{ value|escape }}" placeholder="{{ placeholder|escape }}" maxlength="{{ maxlength|escape }}" {% if required %}required{% endif %} />
{% endmacro %}

{% macro EmailField(class="form-control", id='email', name='email', placeholder='E-Mail', value='', required='') %}
<input type="email" class="{{ class|escape }}" id="{{ id|escape }}" name="{{ name|escape }}" value="{{ value|escape }}" placeholder="{{ placeholder|escape }}" maxlength="320" {% if required %}required{% endif %} />
{% endmacro %}

{% macro PasswordField(class="form-control", id='password', name='password', placeholder='Password', value='', maxlength=20, required='') %}
<input type="password" class="{{ class|escape }}" id="{{ id|escape }}" name="{{ name|escape }}" placeholder="{{ placeholder|escape }}" value="{{ value|escape }}" maxlength="{{ maxlength|escape }}" {% if required %}required{% endif %} />
{% endmacro %}

{% macro ShowError(message, class='error', style='color:red') %}
{% if message %}<p class="{{ class|escape }}" style="{{ style }}">{{ message|escape }}</p>{% endif %}
{% endmacro %}

{% macro ImageLinkField(href, img='', alt='', width=32, height=32) %}
{% if href %}<a href="{{ href|escape }}">{% endif %}<img src="{{ img|escape }}" width="{{ width|escape }}" height="{{ height|escape }}" {% if alt %}alt="{{ alt|escape }}"{% endif %} />{% if href %}</a>{% endif %}
{% endmacro %}
