{% extends "base.html" %}
{% from "_macros/main.html" import EmailField, ShowError, PasswordField, ImageLinkField %}

{% block content %}
<div class="container">
{% if req and req.isAuthenticated() %}
    <h1>Profile</h1>
    <p>{{ req.user.name }}</p>
    <a href="/users/{{ req.user.id }}">Просмотр</a>
    <a href="/logout">Выйти</a>
{% else %}
    <form class="form-signin" action="/users/session" method="post" role="form">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}" />

        {{ ShowError(error) }}
        {{ EmailField(class='form-control') }}
        {{ PasswordField(class='form-control') }}

        <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
        <a href="/signup">Sign up</a>
    </form>
    <form class="form-signin form-social">
        {{ ImageLinkField(href="/auth/facebook", img="/img/facebook.png", alt='Facebook') }}
        {{ ImageLinkField(href="/auth/vkontakte", img="/img/vkontakte.png", alt='VKontakte') }}
        {{ ImageLinkField(href="/auth/github", img="/img/github.png", alt='Github') }}
        {{ ImageLinkField(href="/auth/mailru", img="/img/mailru.png", alt='MailRu') }}
        {{ ImageLinkField(href="/auth/yandex", img="/img/yandex.png", alt='Yandex') }}
        {{ ImageLinkField(href="/auth/steam", img="/img/steam.png", alt='Steam') }}
        {# {{ ImageLinkField(href="/auth/google", img="/img/google.png", alt='Google') }} #}
        {# {{ ImageLinkField(href="/auth/linkedin", img="/img/linkedin.png", alt='LinkedIn') }} #}
        {# {{ ImageLinkField(href="/auth/twitter", img="/img/twitter.png", alt='Twitter') }} #}
    </form>
{% endif %}
</div>
{% endblock %}
