{% extends "base.html" %}
{% from "_macros/main.html" import CharField, EmailField, ShowError, PasswordField %}

{% block content %}
<div class="container">
    <form class="form-signin" action="/users" method="post" role="form">
    {% if csrf_token %}<input type="hidden" name="_csrf" value="{{ csrf_token }}" />{% endif %}

    {# {% if error %} #}
    {#     TODO: Сделать подсветку незаполненных обязательных полей #}
    {#     <p class="error" style="color:red">Ошибка:</p> #}
    {#     {% for e in error -%} #}
    {#         <p>* {{ e }}</p> #}
    {#     {% endfor %} #}
    {# {% endif %} #}

    {{ ShowError(error) }}
    {{ CharField(class='form-control', id='name', name='name', placeholder='Full name') }}
    {{ EmailField(class='form-control') }}
    {{ CharField(class='form-control', id='username', name='username', placeholder='Username') }}
    {{ PasswordField(class='form-control') }}

        <button type="submit" class="btn btn-primary">Sign up</button>
        <a href="/login">Log in</a>
    </form>
</div>
{% endblock %}

